{% extends "base.html" %}
{% load static %}
{% block content %}
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div>
          <a href="{% url "blog:create" %}" class="btn btn-primary">새글작성</a>
        </div>
        <!-- Post preview-->
        {% for post in post_list %}
          <div class="post-preview">
            <a href="{% url "blog:detail" post.id %}">
              <h2 class="post-title">
                <!-- title-->
                {{post.title}}
              </h2>
              <h3 class="post-subtitle">
                {% comment %} 
                truncatechars:100 : django 기능, 100자 이상일경우 ... 으로 생략해서 보여준다
                {% endcomment %}
                <!-- content-->
                {{post.content|truncatechars:100}}
              </h3>
            </a>
            <p class="post-meta">
              Posted by
              <a href="#!">
                <!-- user-->
                {{post.user}}
              </a>
              <!-- created_at-->
              {{post.created_at}}
            </p>
          </div>
          <!-- Divider-->
          <hr class="my-4"/>
        {% endfor %}
        <!-- 페이지 나누기-->
        <div class="d-flex justify-content-center mb-4">
          <!-- has_previous : previous 가 있으면 보여주기-->
          {% if post_list.has_previous %}
          <a class="btn btn-primary text-uppercase" href="?page={{post_list.previous_page_number}}">◀ Previous Posts</a>
          {% endif %}

          {% comment %} <a class="btn btn-primary text-uppercase" href="#!">1 / 5</a> {% endcomment %}
          <a class="btn btn-primary text-uppercase" href="#!">{{post_list.number}} / {{post_list.paginator.num_pages}}</a>

          {% if post_list.has_next %}
          <a class="btn btn-primary text-uppercase" href="?page={{post_list.next_page_number}}">Next Posts ▶</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}